<form action="/projects/<%= @project.id %>/edit" method="post">
  <div class="form-group">
    <label for="title">Please enter in the new title of the project</label>
    <input type="text" name="title">
    <button class="btn" type="submit">Update Project</button>
  </div>
</form>
