<h1> <%= @volunteer.name %> </h1>

<form action="/volunteers/<%= @volunteer.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn">Delete Volunteer</button>
</form>
